In [2]:
import numpy as np
import pandas as pd

dates = np.arange(20170101,20170107)
df1 = pd.DataFrame(np.arange(24).reshape(6,4),index=dates, columns=['A','B','C','D'])
df1

df1.iloc[2,2]
df1.iloc[2,2] = 100
df1

df1.loc[20170102,'B'] = 200
df1

df1[df1.A>10] = 0
df1

df1.A[df1.A ==0] = 1
df1

#插入新的行
df1['E'] = 10
df1

df1['F'] = pd.Series([1,2,3,4,5,6],index=dates)
df1

df1.loc[20170107,['A','B','C']] = [1,2,3]
df1

#追加
s1 = pd.Series([1,2,3,4,5,6],index=['A','B','C','D','E','F'])
s1.name = 'S1'
df2 = df1.append(s1)
df2

#插入到1列 内容是df2['E']
df1.insert(1,'G',df2['E'])
df1

#移动
g = df1.pop('G')
df1.insert(6,'G',g)
df1

#删除
del df1['G']
df1

#删除AB列 drop有返回值 不会真的删除数据
df2 = df1.drop(['A','B'],axis=1)
print(df1)
print(df2)
# df2
#
# #删除行
df2 = df1.drop([20170101,20170107],axis=0)
df1
# df2

            A      B      C     D     E    F
20170101  1.0    1.0    2.0   3.0  10.0  1.0
20170102  4.0  200.0    6.0   7.0  10.0  2.0
20170103  8.0    9.0  100.0  11.0  10.0  3.0
20170104  1.0    0.0    0.0   0.0  10.0  4.0
20170105  1.0    0.0    0.0   0.0  10.0  5.0
20170106  1.0    0.0    0.0   0.0  10.0  6.0
20170107  1.0    2.0    3.0   NaN   NaN  NaN
              C     D     E    F
20170101    2.0   3.0  10.0  1.0
20170102    6.0   7.0  10.0  2.0
20170103  100.0  11.0  10.0  3.0
20170104    0.0   0.0  10.0  4.0
20170105    0.0   0.0  10.0  5.0
20170106    0.0   0.0  10.0  6.0
20170107    3.0   NaN   NaN  NaN

            A      B      C     D     E    F
20170101  1.0    1.0    2.0   3.0  10.0  1.0
20170102  4.0  200.0    6.0   7.0  10.0  2.0
20170103  8.0    9.0  100.0  11.0  10.0  3.0
20170104  1.0    0.0    0.0   0.0  10.0  4.0
20170105  1.0    0.0    0.0   0.0  10.0  5.0
20170106  1.0    0.0    0.0   0.0  10.0  6.0
20170107  1.0    2.0    3.0   NaN   NaN  NaN