In [12]:
import numpy as np
import pandas as pd

df1 = pd.DataFrame(np.arange(12).reshape(3,4),columns=['a','b','c','d'])
df2 = pd.DataFrame(np.arange(12,24).reshape(3,4),columns=['a','b','c','d'])
df3 = pd.DataFrame(np.arange(24,36).reshape(3,4),columns=['a','b','c','d'])
# print(df1)
# print(df2)
# print(df3)

#合并
#,axis=0 纵向合并
df4 = pd.concat([df1,df2,df3],axis=0)
df4

#纵向合并，不考虑原来的index
df4 = pd.concat([df1,df2,df3],axis=0,ignore_index=True)
df4

#横向合并
df5 = pd.concat([df1,df2,df3],axis=1)
df5

df1 = pd.DataFrame(np.arange(12).reshape(3,4),columns=['a','b','c','f'])
df2 = pd.DataFrame(np.arange(12,24).reshape(3,4),columns=['a','b','d','e'])
print(df1)
print(df2)

#join = outer 合并两个表缺少的部分填充null
df6 = pd.concat([df1,df2],join='outer',ignore_index=True)
df6

#join='inner' 两个表缺少的部分 去掉
df7 = pd.concat([df1,df2],join='inner',ignore_index=True)
df7


df1 = pd.DataFrame(np.arange(12).reshape(3,4),columns=['a','b','c','f'])
df2 = pd.DataFrame(np.arange(12,24).reshape(4,3),columns=['a','c','d'])

print(df1)
print(df2)


#横向合并的index,index使用df1的index
# df8 = pd.concat([df1,df2],axis=1,join_ax)

# 不匹配的用null填充
df8 = pd.concat([df1,df2],axis=1)#横向合并
df8

   a  b   c   f
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11
    a   b   d   e
0  12  13  14  15
1  16  17  18  19
2  20  21  22  23
   a  b   c   f
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11
    a   c   d
0  12  13  14
1  15  16  17
2  18  19  20
3  21  22  23

     a    b     c     f   a   c   d
0  0.0  1.0   2.0   3.0  12  13  14
1  4.0  5.0   6.0   7.0  15  16  17
2  8.0  9.0  10.0  11.0  18  19  20
3  NaN  NaN   NaN   NaN  21  22  23